/* first section */

.head {
    margin: -10px -10px 0 -10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.head > .menu{
    display: flex;
    margin-bottom: 60px;
}

.menu > img {
    margin-top: 10px;
    width: 50px;
}

.head ul {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.head-content {
    display: flex;
    gap: 100px;
}

.head-content img {
    width: 500px;
    height: 250px;
    margin-left: auto;
    flex:  1 0 auto;
    border-radius: 5px;
}

/* second section - features */
.features {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.features > .title {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.feature-items {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.feature-item {
    text-align: center;
    max-width: 250px;
}

/* third section */

.testimonial {
    margin: 0 -10px;
    padding: 100px;
}


.testimonial > h3 {
    text-align: end;
}

/* fourth section */



/* general */

/* first section*/


.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.head-content > .left-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.menu a {
    color: grey;
}


/* second section */

.features > .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* third section */

.testimonial {
    background-color: #E5E7EB;
}

.testimonial > p {
    font-size: 36px;
}


/* fourth section */

/* misc. styling */
* {
    font-family: "Roboto",sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 7px;
    background-color: #3882f6;
    border: none;
}

.feature-item img {
    border-color: #3882f6;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    height: 150px;
    outline-offset: 4px;  
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}