body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.head {
    margin: -10px -10px 0 -10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.head > .menu{
    display: flex;
    margin-bottom: 60px;
}

.menu > img {
    margin-top: 10px;
    width: 50px;
}

.head ul {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.head-content {
    display: flex;
    gap: 100px;
}

.head-content img {
    width: 500px;
    height: 250px;
    margin-left: auto;
    flex:  1 0 auto;
    border-radius: 5px;
}


/* general */
 
/* first section*/


.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.head-content > .left-content p {
    font-size: 18px;
    color: #E5E7EB;
}

* {
    font-family: "Roboto",sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 7px;
    background-color: #3882f6;
    border: none;
}

.feature-item img {
    border-color: #3882f6;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    height: 150px;
    outline-offset: 4px;  
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}